<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
       {{>header}}
    </head>
    <body class ="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>{{title}}</h1>


    
        <div class="text-right">
            <a href="/new" class="btn rounded-pill btn-outline-danger shadow">
             Write in the guest book
            </a>     
        </div>
   
        <div class ="card-deck">
        {{#entries}}        
            <div class="card shadow" style="min-height: 7rem; min-width: 25rem; max-width: 25rem; border-radius:5%">
                <div class="card-header">
                    {{subject}}
                <div class="badge shadow badge-pill pull-right badge-light">
                    {{published}}
                </div></div>
                <div class="card-body">
                 <p class="card-text" style="min-height: 5rem;">
                {{contents}}
                </p>
            <p class="card-footer badge shadow badge-pill pull-right badge-light">
                Written by <a href="/posts/{{author}}">{{author}}</a>
            </p>
        </div>
    </div>

        <hr>
        {{/entries}}</div>
        {{^entries}}
        No entries yet.
        {{/entries}}
        



        <script src="" async defer></script>
    </body>
</html>