<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
       {{>header}}
    </head>
    <body class ="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>{{title}}</h1>
        <div class="text-right">
            <a href="/new-entry" class="btn btn-primary">
             Write in the guest book
            </a>     
           </div> 
        {{#entries}}
        <div class="card">
            <div class="card-header">
            {{subject}}
        </div>
        <div class="card-body">
            <div class="card-text">
            {{contents}}
            </div>
            <div class="card-text">
            Written by {{author}}, on {{published}}
            </div>
            </div>
    </div>
        <hr>
        {{/entries}}
        {{^entries}}
        No entries yet.
        {{/entries}}
        
        <script src="" async defer></script>
    </body>
</html>